# Chapter 8

# Hierarchical Indexing

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.Series(np.random.uniform(size=9), index=[["a", "a", "a", "b", "b", "c", "c", "d", "d"], [1, 2, 3, 1, 3, 1, 2, 2, 3]])

data

a  1    0.735530
   2    0.082478
   3    0.713851
b  1    0.418315
   3    0.474006
c  1    0.721494
   2    0.318086
d  2    0.656845
   3    0.370330
dtype: float64

In [4]:
In [13]: data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
data["b"]

1    0.418315
3    0.474006
dtype: float64

In [6]:
data.loc[:, 2]

SyntaxError: invalid syntax (3557634805.py, line 2)

In [ ]:
data["b":"c"]

In [ ]:
data.loc[["b", "d"]]

In [ ]:
data.unstack()

In [ ]:
data.unstack().stack()

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)), index=[["a", "a", "b", "b"], [1, 2, 1, 2]], columns=[["Ohio", "Ohio", "Colorado"],["Green", "Red", "Green"]])
frame

In [ ]:
frame.index.names = ["key1", "key2"]

frame.columns.names = ["state", "color"]

frame

In [ ]:
frame.index.nlevels
2

In [ ]:
frame["Ohio"]

In [ ]:
pd.MultiIndex.from_arrays([["Ohio", "Ohio", "Colorado"],
                          ["Green", "Red", "Green"]],
                          names=["state", "color"])

In [ ]:
frame.swaplevel("key1", "key2")

In [ ]:
frame.sort_index(level=1)

In [ ]:
frame.swaplevel(0, 1).sort_index(level=0)

# Summary Statistics by Level

In [ ]:
frame.groupby(level="key2").sum()

In [ ]:
frame.groupby(level="color", axis="columns").sum()

# Indexing with a Dataframe's columns

In [ ]:
frame = pd.DataFrame({"a": range(7), "b": range(7, 0, -1), "c": ["one", "one", "one", "two", "two", "two", "two"],"d": [0, 1, 2, 0, 1, 2, 3]})
frame

In [ ]:
frame2 = frame.set_index(["c", "d"])

frame2

In [ ]:
frame.set_index(["c", "d"], drop=False)

In [ ]:
frame2.reset_index()

# Combining and Merging Datasets

In [ ]:
# Data contained in pandas objects can be combined in a number of ways:

# pandas.merge
# Connect rows in DataFrames based on one or more keys. This will be familiar to users of SQL 
# or other relational databases, as it implements database join operations.

# pandas.concat
# Concatenate or "stack" objects together along an axis.

# combine_first
# Splice together overlapping data to fill in missing values in one object with values from another.

# I will address each of these and give a number of examples. They’ll be utilized in examples 
# throughout the rest of the book.

## Database-Style DataFrame Joins

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "a", "b"], "data1": pd.Series(range(7), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "d"], "data2": pd.Series(range(3), dtype="Int64")})

df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on="key")

In [ ]:
df3 = pd.DataFrame({"lkey": ["b", "b", "a", "c", "a", "a", "b"], "data1": pd.Series(range(7), dtype="Int64")})

df4 = pd.DataFrame({"rkey": ["a", "b", "d"], "data2": pd.Series(range(3), dtype="Int64")})

pd.merge(df3, df4, left_on="lkey", right_on="rkey")

In [ ]:
pd.merge(df1, df2, how="outer")

In [ ]:
pd.merge(df3, df4, left_on="lkey", right_on="rkey", how="outer")

In [ ]:
df1 = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"], "data1": pd.Series(range(6), dtype="Int64")})

df2 = pd.DataFrame({"key": ["a", "b", "a", "b", "d"], "data2": pd.Series(range(5), dtype="Int64")})

df1

In [ ]:
df2

In [ ]:
pd.merge(df1, df2, on="key", how="left")

In [ ]:
pd.merge(df1, df2, how="inner")

In [ ]:
left = pd.DataFrame({"key1": ["foo", "foo", "bar"],"key2": ["one", "two", "one"], "lval": pd.Series([1, 2, 3], dtype='Int64')})

right = pd.DataFrame({"key1": ["foo", "foo", "bar", "bar"], "key2": ["one", "one", "one", "two"], "rval": pd.Series([4, 5, 6, 7], dtype='Int64')})

pd.merge(left, right, on=["key1", "key2"], how="outer")

In [ ]:
pd.merge(left, right, on="key1")

In [ ]:
pd.merge(left, right, on="key1", suffixes=("_left", "_right"))

In [ ]:
left1 = pd.DataFrame({"key": ["a", "b", "a", "a", "b", "c"], "value": pd.Series(range(6), dtype="Int64")})

right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a", "b"])

left1

In [ ]:
right1

In [ ]:
pd.merge(left1, right1, left_on="key", right_index=True)

In [ ]:
pd.merge(left1, right1, left_on="key", right_index=True, how="outer")

In [ ]:
lefth = pd.DataFrame({"key1": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada"], "key2": [2000, 2001, 2002, 2001, 2002],"data": pd.Series(range(5), dtype="Int64")})

righth_index = pd.MultiIndex.from_arrays([["Nevada", "Nevada", "Ohio", "Ohio", "Ohio", "Ohio"],[2001, 2000, 2000, 2000, 2001, 2002]])

righth = pd.DataFrame({"event1": pd.Series([0, 2, 4, 6, 8, 10], dtype="Int64", index=righth_index), "event2": pd.Series([1, 3, 5, 7, 9, 11], dtype="Int64",index=righth_index)})

lefth

In [ ]:
righth

In [ ]:
pd.merge(lefth, righth, left_on=["key1", "key2"], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=["key1", "key2"],right_index=True, how="outer")

In [ ]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]], index=["a", "c", "e"], columns=["Ohio", "Nevada"]).astype("Int64")

right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]], index=["b", "c", "d", "e"], columns=["Missouri", "Alabama"]).astype("Int64")

left2

In [ ]:
right2

In [ ]:
pd.merge(left2, right2, how="outer", left_index=True, right_index=True)

In [ ]:
left2.join(right2, how="outer")

In [ ]:
left1.join(right1, on="key")

In [ ]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]], index=["a", "c", "e", "f"], columns=["New York", "Oregon"])

another

In [ ]:
left2.join([right2, another])

In [ ]:
left2.join([right2, another], how="outer")

In [ ]:
arr = np.arange(12).reshape((3, 4))

arr

In [ ]:
np.concatenate([arr, arr], axis=1)

In [ ]:
s1 = pd.Series([0, 1], index=["a", "b"], dtype="Int64")

s2 = pd.Series([2, 3, 4], index=["c", "d", "e"], dtype="Int64")

s3 = pd.Series([5, 6], index=["f", "g"], dtype="Int64")

In [ ]:
s1

In [ ]:
s2

In [ ]:
s3

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2, s3], axis="columns")

In [ ]:
s4 = pd.concat([s1, s3])

s4

In [ ]:
pd.concat([s1, s4], axis="columns")

In [ ]:
pd.concat([s1, s4], axis="columns", join="inner")

In [ ]:
result = pd.concat([s1, s1, s3], keys=["one", "two", "three"])

result

In [ ]:
result.unstack()

In [ ]:
pd.concat([s1, s2, s3], axis="columns", keys=["one", "two", "three"])

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=["a", "b", "c"], columns=["one", "two"])

df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=["a", "c"], columns=["three", "four"])

df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2], axis="columns", keys=["level1", "level2"])

In [ ]:
pd.concat({"level1": df1, "level2": df2}, axis="columns")

In [ ]:
df1 = pd.DataFrame(np.random.standard_normal((3, 4)), columns=["a", "b", "c", "d"])

df2 = pd.DataFrame(np.random.standard_normal((2, 3)), columns=["b", "d", "a"])

df1

In [ ]:
df2

In [ ]:
pd.concat([df1, df2], ignore_index=True)

In [ ]:
a = pd.Series([np.nan, 2.5, 0.0, 3.5, 4.5, np.nan], index=["f", "e", "d", "c", "b", "a"])

b = pd.Series([0., np.nan, 2., np.nan, np.nan, 5.], index=["a", "b", "c", "d", "e", "f"])

a

In [ ]:
b

In [ ]:
np.where(pd.isna(a), b, a)

In [ ]:
a.combine_first(b)

In [ ]:
df1 = pd.DataFrame({"a": [1., np.nan, 5., np.nan], "b": [np.nan, 2., np.nan, 6.], "c": range(2, 18, 4)})

df2 = pd.DataFrame({"a": [5., 4., np.nan, 3., 7.], "b": [np.nan, 3., 4., 6., 8.]})

df1

In [ ]:
df2

In [ ]:
df1.combine_first(df2)

# Reshaping and Pivoting

## Reshaping with Hierarchical Indexing

In [ ]:
# Hierarchical indexing provides a consistent way to rearrange data in a DataFrame. There are two primary actions:

# stack
# This “rotates” or pivots from the columns in the data to the rows.

# unstack
# This pivots from the rows into the columns

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)), index=pd.Index(["Ohio", "Colorado"], name="state"), columns=pd.Index(["one", "two", "three"], name="number"))

data

In [ ]:
result = data.stack()

result

In [ ]:
result.unstack()

In [ ]:
result.unstack(level=0)

In [ ]:
result.unstack(level="state")

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=["a", "b", "c", "d"], dtype="Int64")

s2 = pd.Series([4, 5, 6], index=["c", "d", "e"], dtype="Int64")

data2 = pd.concat([s1, s2], keys=["one", "two"])

data2

In [ ]:
data2.unstack()

In [ ]:
data2.unstack().stack()

In [ ]:
data2.unstack().stack(dropna=False)

In [ ]:
df = pd.DataFrame({"left": result, "right": result + 5}, columns=pd.Index(["left", "right"], name="side"))

df

In [ ]:
df.unstack(level="state")

In [ ]:
df.unstack(level="state").stack(level="side")

## Pivoting “Long” to “Wide” Format

In [ ]:
data = pd.read_csv("examples/macrodata.csv")

data = data.loc[:, ["year", "quarter", "realgdp", "infl", "unemp"]]

data.head()

In [ ]:
periods = pd.PeriodIndex(year=data.pop("year"), quarter=data.pop("quarter"), name="date")

periods

In [ ]:
data.index = periods.to_timestamp("D")

data.head()

In [ ]:
data.reindex(columns=["realgdp", "infl", "unemp"])

data.columns.name = "item"

data.head()

In [ ]:
long_data = (data.stack().reset_index().rename(columns={0: "value"}))

In [ ]:
long_data[:10]

In [ ]:
pivoted = long_data.pivot(index="date", columns="item", values="value")

pivoted.head()

In [ ]:
long_data["value2"] = np.random.standard_normal(len(long_data))

long_data[:10]

In [ ]:
pivoted = long_data.pivot(index="date", columns="item")

pivoted.head()

In [ ]:
pivoted["value"].head()

In [ ]:
unstacked = long_data.set_index(["date", "item"]).unstack(level="item")

unstacked.head()

In [ ]:
df = pd.DataFrame({"key": ["foo", "bar", "baz"], "A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})

df

In [ ]:
melted = pd.melt(df, id_vars="key")

melted

In [ ]:
reshaped = melted.pivot(index="key", columns="variable", values="value")

reshaped

In [ ]:
reshaped.reset_index()

In [ ]:
pd.melt(df, id_vars="key", value_vars=["A", "B"])

In [ ]:
pd.melt(df, value_vars=["A", "B", "C"])

In [ ]:
pd.melt(df, value_vars=["key", "A", "B"])