# Chapter 6

# Data Loading, Storage, and File Formats

## Reading and Writing Data in Text Format

In [7]:
import pandas as pd

In [8]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
df = pd.read_csv("examples/ex1.csv")

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv("examples/ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv("examples/ex2.csv", names=["a", "b", "c", "d", "message"])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
names = ["a", "b", "c", "d", "message"]

In [14]:
pd.read_csv("examples/ex2.csv", names=names, index_col="message")

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
!cat examples/csv_mindex.csv


parsed = pd.read_csv("examples/csv_mindex.csv", index_col=["key1", "key2"])

parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [18]:
!cat examples/ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [19]:
result = pd.read_csv("examples/ex3.txt", sep="\s+")

result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
!cat examples/ex4.csv

pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
!cat examples/ex5.csv
result = pd.read_csv("examples/ex5.csv")

result

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [22]:
pd.isna(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [23]:
result = pd.read_csv("examples/ex5.csv", na_values=["NULL"])

result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
result2 = pd.read_csv("examples/ex5.csv", keep_default_na=False)
result2
result2.isna()

   something      a      b      c      d  message
0      False  False  False  False  False    False
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [26]:
result3 = pd.read_csv("examples/ex5.csv", keep_default_na=False, na_values=["NA"])
result3
result3.isna()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False  False  False    False
2      False  False  False  False  False    False

In [27]:
sentinels = {"message": ["foo", "NA"], "something": ["two"]}

pd.read_csv("examples/ex5.csv", na_values=sentinels, keep_default_na=False)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

## Reading Text Files in Pieces

In [28]:
pd.options.display.max_rows = 10

In [29]:
result = pd.read_csv("examples/ex6.csv")

result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [30]:
pd.read_csv("examples/ex6.csv", nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [31]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

type(chunker)

pandas.io.parsers.readers.TextFileReader

In [34]:
pd.read_csv("examples/ex6.csv", chunksize=1000)

tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [ ]:
In [47]: tot[:10]
Out[47]: 
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## Writing Data to Text Format

In [35]:
data = pd.read_csv("examples/ex5.csv")

data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
data.to_csv("examples/out.csv")
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [45]:
import sys

data.to_csv(sys.stdout, sep="|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [46]:
data.to_csv(sys.stdout, na_rep="NULL")

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [47]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [48]:
data.to_csv(sys.stdout, index=False, columns=["a", "b", "c"])

a,b,c
1,2,3.0
5,6,
9,10,11.0

## Working with Other Delimited Formats

In [49]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [51]:
import csv

f = open("examples/ex7.csv")

reader = csv.reader(f)

In [52]:
for line in reader:
    print(line)


f.close()

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [59]:
with open("examples/ex7.csv") as f:
    lines = list(csv.reader(f))

In [60]:
header, values = lines[0], lines[1:]

In [61]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [62]:
class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [63]:
reader = csv.reader(f, dialect=my_dialect)

ValueError: I/O operation on closed file.

In [64]:
reader = csv.reader(f, delimiter="|")

ValueError: I/O operation on closed file.

In [65]:
with open("mydata.csv", "w") as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(("one", "two", "three"))
    writer.writerow(("1", "2", "3"))
    writer.writerow(("4", "5", "6"))
    writer.writerow(("7", "8", "9"))

## JSON Data

In [66]:
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""

In [67]:
import json

result = json.loads(obj)

result

{'name': 'Wes',
 'cities_lived': ['Akron', 'Nashville', 'New York', 'San Francisco'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 34, 'hobbies': ['guitars', 'soccer']},
  {'name': 'Katie', 'age': 42, 'hobbies': ['diving', 'art']}]}

In [68]:
asjson = json.dumps(result)

asjson

'{"name": "Wes", "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"], "pet": null, "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]}, {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]}'

In [69]:
siblings = pd.DataFrame(result["siblings"], columns=["name", "age"])

siblings

    name  age
0  Scott   34
1  Katie   42

In [70]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [71]:
data = pd.read_json("examples/example.json")

data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [72]:
data.to_json(sys.stdout)

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [73]:
In [79]: data.to_json(sys.stdout, orient="records")

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## XML and HTML: Web Scraping

In [1]:
tables = pd.read_html("examples/fdic_failed_bank_list.html")

len(tables)


failures = tables[0]

failures.head()

NameError: name 'pd' is not defined

In [76]:
close_timestamps = pd.to_datetime(failures["Closing Date"])

close_timestamps.dt.year.value_counts()

NameError: name 'failures' is not defined

## Parsing XML with lxml.objectify

In [78]:
<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

SyntaxError: invalid syntax (2722320822.py, line 1)

In [77]:
from lxml import objectify
path = "datasets/mta_perf/Performance_MNR.xml"

with open(path) as f:
    parsed = objectify.parse(f)

root = parsed.getroot()

ModuleNotFoundError: No module named 'lxml'

In [81]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

NameError: name 'root' is not defined

In [82]:
perf = pd.DataFrame(data)

perf.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
perf2 = pd.read_xml(path)

perf2.head()

# Binary Data Formats

In [ ]:
frame = pd.read_csv("examples/ex1.csv")
frame

In [ ]:
# should return: 
#     a   b   c   d message
#  0  1   2   3   4   hello
#  1  5   6   7   8   world
#  2  9  10  11  12     foo

In [83]:
frame.to_pickle("examples/frame_pickle")

NameError: name 'frame' is not defined

In [ ]:
pd.read_pickle("examples/frame_pickle")`

In [ ]:
# should return:
#     a   b   c   d message
#  0  1   2   3   4   hello
#  1  5   6   7   8   world
#  2  9  10  11  12     foo

In [84]:
fec = pd.read_parquet('datasets/fec/fec.parquet')

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

## Reading Microsoft Excel Files

In [88]:
xlsx = pd.ExcelFile("examples/ex1.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [89]:
xlsx.sheet_names

NameError: name 'xlsx' is not defined

In [ ]:
# should return ['Sheet1']

In [ ]:
xlsx.parse(sheet_name="Sheet1")

In [ ]:
# should return:
#     Unnamed: 0  a   b   c   d message
#  0           0  1   2   3   4   hello
#  1           1  5   6   7   8   world
#  2           2  9  10  11  12     foo

In [90]:
xlsx.parse(sheet_name="Sheet1", index_col=0)

NameError: name 'xlsx' is not defined

In [91]:
# should return:
#     a   b   c   d message
#  0  1   2   3   4   hello
#  1  5   6   7   8   world
#  2  9  10  11  12     foo

In [92]:
frame = pd.read_excel("examples/ex1.xlsx", sheet_name="Sheet1")

frame

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [93]:
# should return:
#     Unnamed: 0  a   b   c   d message
#  0           0  1   2   3   4   hello
#  1           1  5   6   7   8   world
#  2           2  9  10  11  12     foo

In [2]:
writer = pd.ExcelWriter("examples/ex2.xlsx")

frame.to_excel(writer, "Sheet1")

writer.save()

NameError: name 'pd' is not defined

In [3]:
frame.to_excel("examples/ex2.xlsx")

NameError: name 'frame' is not defined

## Using HDF5 Format

In [4]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})

store = pd.HDFStore("examples/mydata.h5")

store["obj1"] = frame

store["obj1_col"] = frame["a"]

store

NameError: name 'pd' is not defined

In [ ]:
# should return <class 'pandas.io.pytables.HDFStore'>
# File path: examples/mydata.h5

In [5]:
store["obj1"]

UsageError: Unknown variable '[obj1]'

In [ ]:
# should return:
#            a
#  0  -0.204708
#  1   0.478943
#  2  -0.519439
#  3  -0.555730
#  4   1.965781
#  ..       ...
#  95  0.795253
#  96  0.118110
#  97 -0.748532
#  98  0.584970
#  99  0.152677
#  [100 rows x 1 columns]

In [ ]:
store.put("obj2", frame, format="table")

store.select("obj2", where=["index >= 10 and index <= 15"])

In [ ]:
#             a
#  10  1.007189
#  11 -1.296221
#  12  0.274992
#  13  0.228913
#  14  1.352917
#  15  0.886429

In [6]:
store.close()

NameError: name 'store' is not defined

In [7]:
frame.to_hdf("examples/mydata.h5", "obj3", format="table")

pd.read_hdf("examples/mydata.h5", "obj3", where=["index < 5"])

NameError: name 'frame' is not defined

In [ ]:
# should return:
#            a
#  0 -0.204708
#  1  0.478943
#  2 -0.519439
#  3 -0.555730
#  4  1.965781

In [8]:
import os
os.remove("examples/mydata.h5")

FileNotFoundError: [Errno 2] No such file or directory: 'examples/mydata.h5'

# Interacting with Web APIs

In [9]:
import requests

url = "https://api.github.com/repos/pandas-dev/pandas/issues"

resp = requests.get(url)

resp.raise_for_status()

resp

ModuleNotFoundError: No module named 'requests'

In [ ]:
# should return: <Response [200]>

In [10]:
data = resp.json()
data[0]["title"]

NameError: name 'resp' is not defined

In [ ]:
# should return: 'REF: make copy keyword non-stateful'

In [11]:
Inissues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])

issues

NameError: name 'pd' is not defined

In [ ]:
# should return:
#     number  \
# 0    48062   
# 1    48061   
# 2    48060   
# 3    48059   
# 4    48058   
# ..     ...   
# 25   48032   
# 26   48030   
# 27   48028   
# 28   48027   
# 29   48026   
#                                                                          title  \
# 0                                          REF: make copy keyword non-stateful   
# 1                                                        STYLE: upgrade flake8   
# 2   DOC: "Creating a Python environment" in "Creating a development environ...   
# 3                                        REGR: Avoid overflow with groupby sum   
# 4   REGR: fix reset_index (Index.insert) regression with custom Index subcl...   
# ..                                                                         ...   
# 25                   BUG: Union of multi index with EA types can lose EA dtype   
# 26                                                     ENH: Add rolling.prod()   
# 27                                       CLN: Refactor groupby's _make_wrapper   
# 28                                          ENH: Support masks in groupby prod   
# 29                                             DEP: Add pip to environment.yml   
#                                                                         labels  \
# 0                                                                           []   
# 1   [{'id': 106935113, 'node_id': 'MDU6TGFiZWwxMDY5MzUxMTM=', 'url': 'https...   
# 2   [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OTk=', 'url': 'https://api....   
# 3   [{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNjA=', 'url': 'https://api....   
# 4   [{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgxNTY0Ng==', 'url': 'https:...   
# ..                                                                         ...   
# 25  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.g...   
# 26  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.g...   
# 27  [{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNjA=', 'url': 'https://api....   
# 28  [{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNjA=', 'url': 'https://api....   
# 29  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ==', 'url': 'https://api.g...   
#    state  
# 0   open  
# 1   open  
# 2   open  
# 3   open  
# 4   open  
# ..   ...  
# 25  open  
# 26  open  
# 27  open  
# 28  open  
# 29  open  
# [30 rows x 4 columns]

# Interacting with Databases

In [ ]:
import sqlite3

query = """CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""

con = sqlite3.connect("mydata.sqlite")
con.execute(query)

In [ ]:
#should return <sqlite3.Cursor at 0x7fdfd73b69c0>

In [12]:
con.commit()

NameError: name 'con' is not defined

In [ ]:
data = [("Atlanta", "Georgia", 1.25, 6), ("Tallahassee", "Florida", 2.6, 3), ("Sacramento", "California", 1.7, 5)]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)

In [ ]:
# should return <sqlite3.Cursor at 0x7fdfd73a00c0>

In [13]:
con.commit()

NameError: name 'con' is not defined

In [14]:
cursor = con.execute("SELECT * FROM test")

rows = cursor.fetchall()

rows

NameError: name 'con' is not defined

In [ ]:
# should return:
# [('Atlanta', 'Georgia', 1.25, 6),
# ('Tallahassee', 'Florida', 2.6, 3),
# ('Sacramento', 'California', 1.7, 5)]

In [ ]:
cursor.description

In [ ]:
# should return:
# (('a', None, None, None, None, None, None),
#  ('b', None, None, None, None, None, None),
#  ('c', None, None, None, None, None, None),
#  ('d', None, None, None, None, None, None))

In [ ]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

In [ ]:
# 
#               a           b     c  d
#  0      Atlanta     Georgia  1.25  6
#  1  Tallahassee     Florida  2.60  3
#  2   Sacramento  California  1.70  5

In [ ]:
import sqlalchemy as sqla

db = sqla.create_engine("sqlite:///mydata.sqlite")

pd.read_sql("SELECT * FROM test", db)

In [ ]:
# should return:
#               a           b     c  d
#  0      Atlanta     Georgia  1.25  6
#  1  Tallahassee     Florida  2.60  3
#  2   Sacramento  California  1.70  5