In [60]:
import pandas as pd

# 5.1 Introduction to pandas Data Structures

### Series

In [61]:
obj = pd.Series([4, 7, -5, 3])

In [62]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [63]:
obj.array

<PandasArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [64]:
obj.index

RangeIndex(start=0, stop=4, step=1)

## Setting the index values to values other than n - 1

In [65]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])

In [66]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [67]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [68]:
obj2["a"]

-5

In [69]:
obj2["d"] = 6

In [70]:
obj2[["c", "a", "d"]]

c    3
a   -5
d    6
dtype: int64

In [71]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [72]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [73]:
import numpy as np

In [74]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [75]:
"b" in obj2

True

In [76]:
"e" in obj2

False

## Declare a dict

In [77]:
 sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

## Convert dict to Series

In [78]:
obj3 = pd.Series(sdata)

In [79]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

## Convert Series to dict

In [80]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [81]:
states = ["California", "Ohio", "Oregon", "Texas"]

In [82]:
obj4 = pd.Series(sdata, index=states)

In [83]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

## Check for NA values in obj4

In [84]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

## Check for values not NA in obj4

In [85]:
pd.notna(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [86]:
obj4.isna()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [87]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [88]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [89]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [90]:
obj4.name = "population"
obj4.index.name = "state"

In [91]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64